<!doctype>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hypnobox - Authentication</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="../assets/css/default.css" rel="stylesheet"/>
<link href="../assets/css/sprint-report.css" rel="stylesheet" />
</head>
<body>
<h2 class="white-color text-center padding-top margin-top">Sprints ${team} Reports</h2>             
        <!-- PRICING TABLE STYLE 4-->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Starter</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost dark-text"><strong>$ 19</strong><span>/MONTH</span></div>
                            <div class="price_table_row">1 Website</div>
                            <div class="price_table_row">10 GB Storage</div>
                            <div class="price_table_row">10 GB Bandwidth</div>
                            <div class="price_table_row">10 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-dark btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Basic</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost danger-text"><strong>$ 29</strong><span>/MONTH</span></div>
                            <div class="price_table_row">10 Websites</div>
                            <div class="price_table_row">100 GB Storage</div>
                            <div class="price_table_row">100 GB Bandwidth</div>
                            <div class="price_table_row">50 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-danger btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">        
                    <div class="price_table_container">
                        <div class="price_table_heading">Premium</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost royal-text"><strong>$ 39</strong><span>/MONTH</span></div>
                            <div class="price_table_row">100 Websites</div>
                            <div class="price_table_row">1 TB Storage</div>
                            <div class="price_table_row">1 TB Bandwidth</div>
                            <div class="price_table_row">100 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-royal btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
        
                <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
                	<div class="recommended"><strong><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> More Security</strong></div>                                              
                    <div class="price_table_container">
                        <div class="price_table_heading">Master</div>
                        <div class="price_table_body">
                            <div class="price_table_row cost static-text"><strong>$ 60</strong><span>/MONTH</span></div>
                            <div class="price_table_row">Unlimited Websites</div>
                            <div class="price_table_row">10 TB Storage</div>
                            <div class="price_table_row">100 TB Bandwidth</div>
                            <div class="price_table_row">1000 Email Addresses</div>
                            <div class="price_table_row">Free Backup</div>
                            <div class="price_table_row">Full Time Support</div>                                                
                        </div>
                        <a href="#" class="btn btn-static btn-lg btn-block">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRICING TABLE STYLE 4-->        
        <div class="spacer"></div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>